// Author
.author {
  margin-top: 6.3rem;
  margin-bottom: 7.2rem;
  text-align: center;

  @include media-query($on-mobile) {
    margin-bottom: 3em;
  }

  .author-avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    user-select: none;
    background-color: $black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-animation: 0.5s ease-in forwards fadein;
    animation: 0.5s ease-in forwards fadein;
    opacity: 1;
  }

  .author-name {
    font-size: 1.7em;
    margin-bottom: 2px;
  }

  .author-bio {
    margin: 0 auto;
    opacity: 0.9;
    max-width: 393px;
    line-height: 1.688;
  }
}

// Content
.posts-item-note {
  font-size: $base-font-size;
  font-weight: 700;
  color: $black;
}

// List of posts
.post-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  justify-content: space-between;
  flex-direction: row;

  &:not(:first-child) {
    border-top: 1px solid $light;
  }

  .post-item-date {
    min-width: 96px;
    color: $black;

    @include media-query($on-mobile) {
      font-size: 16px;
    }
  }

  .post-item-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;

    a {
      color: $text-base-color;

      &:hover,
      &focus {
        color: $black;
      }
    }
  }
}

// Footer
.footer {
  margin-top: 8em;
  margin-bottom: 2em;
  text-align: center;

  @include media-query($on-mobile) {
    margin-top: 3em;
  }
  span.footer_item {
    opacity: 0.8;
    font-weight: $bold-weight;
    font-size: $small-font-size;
  }
  a.footer_item {
    opacity: 0.8;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;
      &:hover {
        opacity: 1;
      }
    }
  }

  .footer_copyright {
    font-size: $small-font-size - 1;
    margin-top: 3px;
    display: block;
    color: $gray;
    opacity: 0.8;
  }
}

.not-found {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  .title {
    font-size: 5em;
    font-weight: $bold-weight;
    line-height: 1.1;
    color: $black;
    text-shadow: 1px 0px 0px $text-link-blue;
  }
  .phrase {
    color: $text-base-color;
  }
  .solution {
    color: $text-link-blue;
    letter-spacing: 0.5px;
  }
  .solution:hover {
    color: $text-link-blue-active;
  }
}


.search-article {
  position: relative;
  margin-bottom: 50px;

  label[for="search-input"] {
    position: relative;
    top: 10px;
    left: 11px;
  }

  input[type="search"] {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 40px;
    outline: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px 10px 35px;
    color: $text-base-color;
    -webkit-appearance: none;
    font-size: $base-font-size;
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);
    &::-webkit-input-placeholder {
      color: #808080;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

#search-results {
  text-align: center;
  li {
    text-align: left;
  }
}

.archive-tags {
  height: auto;
  .tag-item {
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
  }
}

.rss {
  position: relative;
  bottom: -3px;
  outline: none;
}