.list-page .post-year {
    padding-bottom: .5rem;
}
  
.icon-star {
  color: orange;
  height: 16px;
  margin-right: 1rem;
  width: 16px;
  display: block;
}

.post-item-right {
  margin-left: auto;
  margin-right: 0;
}