//////////////// 1. Light Colors /////////////////
$text-base-color: #434648;
$text-link-blue: #003fff;
$text-link-blue-active: #0036c7;
$bloquote-border: #c4c8cc;
$blockquote-text: #525b66;
$inline-code-text: #333638;
$inline-code-bg: #d8dbe2;
$toc-bg: #edecec;
$go-top-bg: #dfe0e397;
$go-top-bg-hover: #dfe0e3;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

//////////////// 2. Dark Colors /////////////////
$dark-text-base-color: #babdc4;
$dark-text-link-blue: #77a8fd;
$dark-text-link-blue-active: #5292ff;
$dark-bloquote-border: #4a4d56;
$dark-blockquote-text: #9b9ba3;
$dark-inline-code-text: #c2c4ca;
$dark-inline-code-bg: #2d2d2d;
$dark-toc-bg: #323232;
$dark-go-top-bg: #676767b3;
$dark-go-top-bg-hover: #676767;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$dark-gray: #767f87;

//////////////// 3. Solarized Colors /////////////////
// Solarized Base Colors
$solarized-base03: #002b36;
$solarized-base02: #073642;
$solarized-base01: #586e75;
$solarized-base00: #657b83;
$solarized-base0: #839496;
$solarized-base1: #93a1a1;
$solarized-base2: #eee8d5;
$solarized-base3: #fdf6e3;

// Solarized Accent Colors
$solarized-yellow: #b58900;
$solarized-orange: #cb4b16;
$solarized-red: #dc322f;
$solarized-magenta: #d33682;
$solarized-violet: #6c71c4;
$solarized-blue: #268bd2;
$solarized-cyan: #2aa198;
$solarized-green: #859900;

// Solarized Light Theme Colors
$solarized-light-text-base-color: $solarized-base00;
$solarized-light-text-link-blue: $solarized-blue;
$solarized-light-text-link-blue-active: $solarized-cyan;
$solarized-light-bloquote-border: $solarized-base1;
$solarized-light-blockquote-text: $solarized-base01;
$solarized-light-inline-code-text: $solarized-base01;
$solarized-light-inline-code-bg: $solarized-base2;
$solarized-light-toc-bg: $solarized-base2;
$solarized-light-go-top-bg: rgba($solarized-base2, 0.8);
$solarized-light-go-top-bg-hover: $solarized-base2;

// Solarized Dark Theme Colors
$solarized-dark-text-base-color: $solarized-base0;
$solarized-dark-text-link-blue: $solarized-blue;
$solarized-dark-text-link-blue-active: $solarized-cyan;
$solarized-dark-bloquote-border: $solarized-base01;
$solarized-dark-blockquote-text: $solarized-base1;
$solarized-dark-inline-code-text: $solarized-base1;
$solarized-dark-inline-code-bg: $solarized-base02;
$solarized-dark-toc-bg: $solarized-base02;
$solarized-dark-go-top-bg: rgba($solarized-base02, 0.9);
$solarized-dark-go-top-bg-hover: $solarized-base02;

//////////////// 4. Fonts preferences /////////////////
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//////////////// 5. Responsive design (media queries) /////////////////
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// Screen sizes
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

//////////////// 6. Import all sass files /////////////////

@import "fonts";
@import "base";
@import "navbar";
@import "layout";
@import "post";
@import "code";

@import "tableOfContent";
@import "miscellaneous";
@import "dark";
@import "solarized";
@import "listpage";
@import "custom";

{{ with .Site.Params.goToTop }}
@import "goToTop";
{{ end }}
