<!DOCTYPE html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}

{{/* allow website developer to enforce default dark mode */}}
{{- if eq $defaultColor "dark" -}}
<html lang="{{ .Site.LanguageCode }}" class="dark">
{{- else if eq $defaultColor "light" -}}
<html lang="{{ .Site.LanguageCode }}" class="light">
{{- else -}}
<html lang="{{ .Site.LanguageCode }}">
{{- end -}}

{{- partial "head.html" . -}}

<body data-theme="{{ $defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    <div class="wrapper">
        {{ partial "bio" . }}
        <main aria-label="Content">
            <h3 class="posts-item-note" aria-label="Posts">{{ T "home.recent_posts" }}</h3>
            {{ $pagesToShow := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
            {{ $posts := $pagesToShow.ByDate.Reverse }}
            {{ range $posts }}
            {{ partial "postCard" . }}
            {{ end }}

            {{/* I edited this so it shows all posts, original has 5 recent posts*/}}
            
        </main>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "scriptsBodyEnd.html" . -}}
</body>

</html>
